name: release
on:
  push:
    branches:
      - main

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling credentials persistence in order to be able to commit as a random user (eg. for release)
          persist-credentials: false
          fetch-depth: 0

      - uses: actions/setup-node@v2.2.0
        with:
          node-version: 16
          cache: yarn

      - uses: actions/cache@v2.1.6
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: 'install dependencies'
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
        env:
          HUSKY: 0

      - run: yarn -s semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          HUSKY: 0
